[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]

[requires]
python_version = "3.7"

[scripts]
app = "python3 -m package_name.app"
build = "python3 setup.py sdist bdist bdist_wheel"
deploy-test = "twine upload -r testpypi dist/*"
deploy = "twine upload -r pypi dist/*"